<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>01.品牌列表案例.html</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap-v3.3.7.css" />
    <script src="./lib/vue-2.5.16.js"></script>
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> 添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>Name:
                    <input type="text" class="form-control" v-model="name">
                </label>
                <!-- 处理点击事件，加小括号之后，就可以传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
                <label>搜索关键字:
                        <input type="text" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for="item in list" :key="item.id"> -->
                <!-- 之前直接用v-for从list中拿数据，渲染上去，现在自定义search方法，把所有关键字通过传参的方式传递给search方法 -->
                <!-- 在search方法内部，通过for循环，把符合搜索关键字的数据，组成新数组返回 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [{
                    id: 1,
                    name: 'bm',
                    ctime: new Date()
                }, {
                    id: 2,
                    name: 'bc',
                    ctime: new Date()
                }, {
                    id: 3,
                    name: 'QQ',
                    ctime: new Date()
                }]
            },
            methods: {
                add() {
                    // 1、获取id和name的值，直接在data中修改
                    // 2、组织出一个对象
                    // 3、调用数组的push方法，添加当前data数据到list中
                    // 4、双向绑定，修改了data中的数据，vue会自动把最新数据应用到页面中
                    var car = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    }
                    this.list.push(car)
                        // 添加完后清空数据
                    this.id = this.name = ''
                },
                // 根据id删除数据
                del(id) {
                    // 两种方式找到索引并删除
                    // 根据id找到要删除的索引
                    // 找到索引，调用数组的splice方法
                    // this.list.some((item, i) => {
                    //     if (item.id == id) {
                    //         this.list.splice(i, 1)
                    //             // 找到后立即终止循环
                    //         return true;
                    //     }
                    // })

                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true;
                        }
                    })
                    this.list.splice(index, 1)
                },
                search(keywords) {
                    // 注意：forEach，some，findIndex，filter是数组的方法
                    // var newList = []
                    // this.list.forEach(item => {
                    //     if (item.name.indexOf(keywords) != -1) {
                    //         newList.push(item)
                    //     }
                    // })
                    // return newList

                    // ES6中，为字符串提供了一个新方法，String.prototype.includes('要包含的字符串')，如果包含返回true，否则返回false
                    // 通过filter和includes结合实现
                    return this.list.filter(item => {
                        if (item.name.includes(keywords)) {
                            return item
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>